@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

h1 {
    color: aquamarine;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

strong {
    color: blueviolet;
}